@font-face {
    font-family: Helvetica;
    font-weight: 400;
    src: url("./fonts/HelveticaLight.otf") format("opentype");
}

@font-face {
    font-family: Helvetica;
    font-weight: 700;
    src: url("./fonts/HelveticaBold.otf") format("opentype");
}

@font-face {
    font-family: "DrukTextWide";
    font-weight: 600;
    src: url("./fonts/DrukTextWideCyMedium.otf") format("opentype");
}

@import "./variables";
@import "./bootstrap-5.1.3/bootstrap-reboot";
@import "./bootstrap-5.1.3/bootstrap-grid";
@import "./bootstrap-5.1.3/bootstrap-utilities";
@import "./bootstrap-5.1.3/buttons";
@import "./bootstrap-5.1.3/button-group";
@import "./bootstrap-5.1.3/forms";
html {
    scroll-behavior: smooth;
}

body {
    background: $main-gray;
    position: relative;
}

header {
    position: relative;
    top: 30px;
    margin: 0 120px;
    z-index: 10000;

    .top-row {
        position: absolute;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .top-row_logo {}

        .top-row_right-block {
            display: flex;
            align-items: center;
            column-gap: 12px;

            .top-row_right-block_search {
                button {
                    padding: 0;

                    img {
                        width: 20px;
                    }
                }

                input {
                    min-width: 250px;
                    font-size: 1rem;
                    line-height: normal;
                    background: none;
                    border: none;
                    color: #60676B;
                }
            }

            .header-link {
                &.store-link {
                    img {
                        height: 31px !important;
                    }
                }

                img {
                    height: 20px;

                }

                &:hover {
                    img {
                        filter: invert(85%) sepia(82%) saturate(734%) hue-rotate(164deg) brightness(94%) contrast(96%);
                    }
                }
            }
        }
    }

    .top-row-menu {
        position: absolute;
        top: 138px;

        ul {
            list-style: none;
            padding: 0;
            text-transform: uppercase;

            .active {
                font-weight: 600;
            }

            li ul {
                padding: 1rem 0 1.5rem 1.5rem;
            }
        }
    }
}

h1.druk-font {
    font-family: "DrukTextWide";
    font-weight: 600;
    font-size: 7rem;
    line-height: 115px;
    color: #FFFFFF;
}


.big-image-continer {
    height: 100vh;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        object-position: 0 62%;

    }

    .big-image-text {
        position: absolute;
        bottom: 10vh;
        right: 10%;
    }
}

.grid-image-continer {
    

    .grid-image-item {
        position: relative;
        height: calc(428px + 200 * ((100vw - 320px) / (1280 - 320)));

        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            object-position: center;
        }
    }
}








footer {
    .footer-container {
            padding-top: 100px;
            padding-bottom: 80px;
            .footer-row-links {
                justify-content: center;
                column-gap: 20px;
                margin-bottom: 40px;
            }
            .footer-row-copyrites {
                p {
                    text-align: center;
                    line-height: 14px;
                    font-size: 1rem;
                    /* identical to box height */

                    text-transform: lowercase;

                    color: #979797;
                }
            }
    }
}


@import "./media";